.container {
  width: 30%;
  margin: auto;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 8%;
  background: #f2f2f2; /* Replace with your desired background color or use a background image */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

button.btn {
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button.btn:hover {
  background-color: #45a049;
}
.hero {
    background-image: url("img/group.JPG ");
    background-size:cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}